<section class="pad">
    <div class="row bg1">
        <header>
            <div class=" text-white">
                <p class="register">Register</p>
            </div>
            <!-- <div class="text-right" style="float: right;">
                <button>&times;</button>
            </div> -->
        </header>
    </div>
    <div class="row ">
        <div class="col col-md-3"></div>
        <div class="col col-md-9">
            <form>
                <div >
                   <input type="text" class="inputs" id="firstName" name="firstName"
                            placeholder="First Name" style="width: 125px; float: left;">

                    
                        <input type="text" class="inputs" id="lastName" name="lastName" placeholder="Last Name" style="width: 125px;">
                    
                </div>
                <input type="email" class="inputs wid" id="email" name="email" placeholder="Email" >

                <input type="phoneNo" class="inputs wid" id="phoneNo" name="phoneNo" placeholder="(+91) XXX XXX XXXX" >

               <div>
                <select class="mdb-select md-form drop" searchable="Search here..">
                    <option value="" disabled selected>State</option>
                    <option value="1">Maharastra</option>
                    <option value="2">Karnataka</option>
                    <option value="3">Tamilnadu</option>
                    <option value="3">Goa</option>
                    <option value="3">Gujrat</option>
                  </select>
               </div>

               <div>
                <select class="mdb-select md-form drop" searchable="Search here..">
                    <option value="" disabled selected>Country</option>
                    <option value="1">India</option>
                    <option value="2">USA</option>
                    <option value="3">UK</option>
                    <option value="3">Sri Lanka</option>
                    <option value="3">UAE</option>
                  </select>
               </div>
               <div>
                <input type="address" class="inputs wid" id="address" name="address" placeholder="Address" >
               </div>
                <div>
                    <input type="tag" class="inputs wid" id="tag" name="tag" placeholder="Tag" > 
                </div>
                <div>
                    <div class="form-check" style="margin: 10px;">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" value="">subscribe to newsletter
                        </label>
                      </div>
                </div>
                <div style="margin-left: 115px;">
                    <button class="btn btn-primary" >Cancel</button> &nbsp;&nbsp;
                    <button class="btn btn-primary" type="submit"> Submit</button>
                </div>


       
            </form>
        </div>
    </div>
</section>