
.register{
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
}

.inputs{
    margin: 8px;
    padding: 8px;
    /* border-radius: 1px; */
    
}
.clsbtn{
    border-radius: 50%;
    /* padding: 0.3em; */
    width: 30px;
    height: 30px;
    border: 2px solid blue;
    color: blue;
    position: relative;
}

.wid{
    width: 268px;
}
.btns{
    margin-left: 286px; 
    height: 30px;
}