<!-- 1st Part -->

<div class="relativeDiv">
    <section class="home">
      <div class="container">
        <header class="header">
          <div class="row ">
            <div class="col col-md-4">
              <img src="assets\logo-1.png" alt="">
            </div>
  
            <div class="col col-md-8">
              <nav>
                <ul>
                  <li><a href="#">Home</a></li>
                  <li><a href="#">About us</a></li>
                  <li><a href="#">Jobs</a></li>
                  <li><a href="#">Clients</a></li>
                  <li><a href="#">Employers</a></li>
                  <li><a href="#">Contact us</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </header>
  
        <div class="row mid">
          <h1 class="look">I'm looking for...</h1>
        </div>
  
        <div class="row">
          <div class="col col-md-9">
            <input id="search" placeholder="Enter a Job Description" class="inp" type="text">
          </div>
          <div class="col col-md-3">
            <button class="btn btn-primary search">Search</button>
          </div>
        </div>
  
        <div>
          <div class="check">
  
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
              <label class="form-check-label" for="flexRadioDefault1">
                Full Time
              </label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
              <label class="form-check-label" for="flexRadioDefault2">
                Part Time / Causal / Freelance
              </label>
  
            </div>
  
            <div style="float: right;">
              <select class="mdb-select md-form drop" searchable="Search here..">
                <option value="" disabled selected>Select your location</option>
                <option value="1">Mumbai</option>
                <option value="2">Pune</option>
                <option value="3">Banglore</option>
                <option value="3">Chennai</option>
                <option value="3">Delhi</option>
              </select>
            </div>
          </div>
        </div>
  
        <div class="row text-center register">
          <div class="justify-content-center align-items-center">
            <button class="btn btn-primary" (click)="openDialog()">
              Register
            </button>
          </div>
  
        </div>
      </div>
    </section>
  </div>
  
  <!-- 2nd part -->
  
  
  <div>
    <section>
  
      <div class="text-center ">
        <h1 class="lead">We're leader in</h1>
        <h1>Creative Digital Recruitment</h1>
      </div>
  
      <div class="dash"></div>
  
      <div class="text-center" style="font-weight: 500;">
        <div>Based on surry Hils, the creative hub of Sydney we are surrounded by creativity</div>
        <div>and that reflects on the type of jobs we recruit for</div>
      </div>
  
      <div class="text-center">
        <button type="button" class="btn btn-outline-primary text-uppercase find">find out more about us!</button>
      </div>
    </section>
  
  </div>
  
  <!-- Footer -->
  
  <section class="Bgpart3">
  
    <div class="text-center text-white">
      <div class="sub"> Subscribe to our Job Seeker Mailing List</div>
    </div>
  
    <div class="text-center">
      <div class="form-group ">
        <!-- <i class="bi bi-envelope-fill text-white"></i> -->
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input type="text" class="form-control Bgpart3  email text-white" id="usr"
          placeholder="Enter your Email address" style="width: 50%;">
         
      </div>
    </div>
  </section>
  <!-- <section class="foot">
    <footer class=" container row">
      <div style="float: left;">
        <i class="bi bi-envelope-fill"></i>
      </div>
      <div >
        <input type="text">
      </div>
    </footer>
  </section> -->